# Example environment variables for development
# Rename this file to .env.local and fill in actual values
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
SENDGRID_API_KEY=
